
<link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-items.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-cart-notification.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-items.css' | asset_url | stylesheet_tag }}</noscript>

<style>
  header-drawer {
    justify-self: start;
    margin-left: -1.2rem;
  }

  @media screen and (min-width: 990px) {
    header-drawer {
      display: none;
    }
  }

  .menu-drawer-container {
    display: flex;
  }

  .list-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .list-menu--inline {
    display: inline-flex;
    flex-wrap: wrap;
  }

  summary.list-menu__item {
    padding-right: 2.7rem;
  }

  .list-menu__item {
    display: flex;
    align-items: center;
    line-height: calc(1 + 0.3 / var(--font-body-scale));
  }

  .list-menu__item--link {
    text-decoration: none;
    padding-bottom: 1rem;
    padding-top: 1rem;
    line-height: calc(1 + 0.8 / var(--font-body-scale));
  }

  @media screen and (min-width: 750px) {
    .list-menu__item--link {
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
    }
  }
</style>

{%- style -%}
  .section-header {
    margin-bottom: {{ section.settings.margin_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-header {
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }
{%- endstyle -%}

<script src="{{ 'details-disclosure.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>

<header>
    <div class="header-top">
        <div class="container">
            <div class="header-top-flex">
                <div class="h-social-icons">
                    <ul>
                        <li>
                            <a href="{{ settings.social_facebook_link }}">
                                <img src="{{ 'facebook.png' | asset_img_url: 'master' }}" alt="facebook">
                            </a>  
                        </li>
                        <li>
                            <a href="{{ settings.social_twitter_link }}">
                                <img src="{{ 'twitter.svg' | asset_url  }}" alt="twitter">
                            </a>
                        </li>
                        <li>
                            <a href="{{ settings.social_instagram_link }}">
                                <img src="{{ 'instagram.svg' | asset_url }}" alt="instagram">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="h-top-links">
                    <ul>
                        <li><a href="{{ routes.search_url }}"> {{ 'general.search.search' | t }} </a></li>
                        <li>
                            <a href="{% if customer %}{{ routes.account_url }}{% else%}{{ routes.account_login_url }}{% endif %}">
                                {%- liquid
                                    if customer
                                      echo 'customer.account_fallback' | t
                                    else
                                      echo 'customer.log_in' | t
                                    endif
                                  -%}                              
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="container">
            <div class="header-bottom-flex">
                <nav>
                    <ul class="left-menu">
                        {% for link in linklists[section.settings.main_menu].links %}                            
                            <li class="{% if link.active %}active{% endif %}"><a href="{{ link.url }}"> {{ link.title}} </a></li>
                        {% endfor %}
                    </ul>
                    <ul class="right-menu">
                        <li>
                            <a href="tel:{{ section.settings.phone }}"><span class="phone-icon"><img src="{{ 'phone-icon.svg' | asset_url }}"
                                        alt="phone-icon"></span>
                                <div class="call-us">
                                    <h5>Call Us</h5>
                                    <h3>{{ section.settings.phone }}</h3>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="{{ routes.cart_url }}" id="cart-icon-bubble">
                                <h5>Cart</h5>
                                <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
                                <span class="cart-icon"><img src="{{ 'cart-icon.svg' | asset_url }}" alt="cart-icon">
                                {%- if cart != empty -%}                                  
                                    <span class="cart-count-bubble cart-counter">
                                      {%- if cart.item_count < 100 -%}
                                        <span aria-hidden="true">{{ cart.item_count }}</span>
                                      {%- endif -%}
                                      <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
                                    </span>                                  
                                {%- endif -%}
                            </span>                               
                              </a>
                        </li>
                    </ul>
                </nav>
                <div class="logo">
                    <a href="{{ routes.root_url }}">
                        {{ section.settings.logo | image_url: width : 300 | image_tag : alt : 'Logo' , loading : 'lazy' }}
                    </a>
                </div>
                <div class="menu-bar d-none">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
</header>


{%- render 'cart-notification', color_scheme: section.settings.color_scheme -%}

{% javascript %}
  class StickyHeader extends HTMLElement {
    constructor() {
      super();
    }

    connectedCallback() {
      this.header = document.getElementById('shopify-section-header');
      this.headerBounds = {};
      this.currentScrollTop = 0;
      this.preventReveal = false;
      this.predictiveSearch = this.querySelector('predictive-search');

      this.onScrollHandler = this.onScroll.bind(this);
      this.hideHeaderOnScrollUp = () => this.preventReveal = true;

      this.addEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.addEventListener('scroll', this.onScrollHandler, false);

      this.createObserver();
    }

    disconnectedCallback() {
      this.removeEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.removeEventListener('scroll', this.onScrollHandler);
    }

    createObserver() {
      let observer = new IntersectionObserver((entries, observer) => {
        this.headerBounds = entries[0].intersectionRect;
        observer.disconnect();
      });

      observer.observe(this.header);
    }

    onScroll() {
      const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

      if (this.predictiveSearch && this.predictiveSearch.isOpen) return;

      if (scrollTop > this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        requestAnimationFrame(this.hide.bind(this));
      } else if (scrollTop < this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        if (!this.preventReveal) {
          requestAnimationFrame(this.reveal.bind(this));
        } else {
          window.clearTimeout(this.isScrolling);

          this.isScrolling = setTimeout(() => {
            this.preventReveal = false;
          }, 66);

          requestAnimationFrame(this.hide.bind(this));
        }
      } else if (scrollTop <= this.headerBounds.top) {
        requestAnimationFrame(this.reset.bind(this));
      }


      this.currentScrollTop = scrollTop;
    }

    hide() {
      this.header.classList.add('shopify-section-header-hidden', 'shopify-section-header-sticky');
      this.closeMenuDisclosure();
      this.closeSearchModal();
    }

    reveal() {
      this.header.classList.add('shopify-section-header-sticky', 'animate');
      this.header.classList.remove('shopify-section-header-hidden');
    }

    reset() {
      this.header.classList.remove('shopify-section-header-hidden', 'shopify-section-header-sticky', 'animate');
    }

    closeMenuDisclosure() {
      this.disclosures = this.disclosures || this.header.querySelectorAll('details-disclosure');
      this.disclosures.forEach(disclosure => disclosure.close());
    }

    closeSearchModal() {
      this.searchModal = this.searchModal || this.header.querySelector('details-modal');
      this.searchModal.close(false);
    }
  }

  customElements.define('sticky-header', StickyHeader);
{% endjavascript %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if section.settings.logo %}
      {% assign image_size = section.settings.logo.width | append: 'x' %}
      "logo": {{ section.settings.logo | img_url: image_size | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ shop.url | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = shop.url | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ shop.url | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
    "name" : "Header",
    "settings":
    [
       {
           "type": "image_picker",
           "id": "logo",
           "label": "Logo"
       },
      {
          "type": "link_list",
          "id": "main_menu",
          "label": "Main Menu"
      },
      {
          "type": "text",
          "id": "phone",
          "label": "Phone Number",
           "default": "(800) 844-5345"
      }
    ]
}
{% endschema %}